<launch>

  <node pkg="loam_interface" exec="loamInterface" name="loamInterface" output="screen">
    <param name="stateEstimationTopic" value="/odom/slam_odom" />
    <param name="registeredScanTopic" value="/world_points" />
    <param name="flipStateEstimation" value="false" />
    <param name="flipRegisteredScan" value="false" />
    <param name="sendTF" value="true" />
    <param name="reverseTF" value="false" />
  </node>

</launch>
