build

devel

install

log/*

.catkin_workspace

*~

__pycache__/
*.py[cod]

.DS_Store

src/vehicle_simulator/mesh/*

!src/vehicle_simulator/mesh/matterport

src/vehicle_simulator/mesh/matterport/meshes/*

src/vehicle_simulator/mesh/matterport/segmentations/*

src/vehicle_simulator/mesh/matterport/preview/*

!src/vehicle_simulator/mesh/download_environments.sh
